<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.springboot.dao.Goodstype3Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bdqn.springboot.entity.Goodstype3">
        <id column="goodstype3_id" property="goodstype3Id" />
        <result column="goodstype3_name" property="goodstype3Name" />
        <result column="goodstype2_id" property="goodstype2Id" />
        <result column="goodstype3_state" property="goodstype3State" />
        <result column="goodstype3_picture" property="goodstype3Picture" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        goodstype3_id, goodstype3_name, goodstype2_id, goodstype3_state, goodstype3_picture
    </sql>

</mapper>
