<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.springboot.dao.MemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bdqn.springboot.entity.Member">
        <id column="memberId" property="memberId" />
        <result column="memberName" property="memberName" />
        <result column="sex" property="sex" />
        <result column="email" property="email" />
        <result column="birthday" property="birthday" />
        <result column="memberProvince" property="memberProvince" />
        <result column="membercity" property="membercity" />
        <result column="memberState" property="memberState" />
        <result column="memberipone" property="memberipone" />
        <result column="memberpwd" property="memberpwd" />
        <result column="avatar" property="avatar" />

      <!--  &lt;!&ndash;一对多的用户地址&ndash;&gt;
        <collection property="addressList" ofType="com.bdqn.springboot.entity.Address">
            <id column="addressId" property="addressId" />
            <result column="memberId" property="memberId" />
            <result column="addressName" property="addressName" />
            <result column="addressIpone" property="addressIpone" />
            <result column="addressProvince" property="addressProvince" />
            <result column="addressCity" property="addressCity" />
            <result column="addressCounty" property="addressCounty" />
            <result column="addressinfo" property="addressinfo" />
            <result column="addressDefault" property="addressDefault" />
        </collection>-->
        <collection property="addressList" ofType="com.bdqn.springboot.entity.Address" column="memberId" select="getaddressList"/>
    </resultMap>

    <!-- getaddressList -->
    <resultMap id="BaseResultMap2" type="com.bdqn.springboot.entity.Address">
        <id column="addressId" property="addressId" />
        <result column="memberId" property="memberId" />
        <result column="addressName" property="addressName" />
        <result column="addressIpone" property="addressIpone" />
        <result column="addressProvince" property="addressProvince" />
        <result column="addressCity" property="addressCity" />
        <result column="addressCounty" property="addressCounty" />
        <result column="addressinfo" property="addressinfo" />
        <result column="addressDefault" property="addressDefault" />
        <result column="provinceId" property="provinceId" />
        <result column="cityId" property="cityId" />
        <result column="countyId" property="countyId"/>
    </resultMap>

    <!--一对多-->
    <select id="getaddressList" resultMap="BaseResultMap2">
 SELECT * FROM address WHERE memberId = #{id} and isdel = 0
    </select>



    <select id="f_getMemByName" resultMap="BaseResultMap">
      SELECT * FROM member WHERE memberName = #{name}
    </select>

    <select id="f_loginmem"  resultMap="BaseResultMap">
         SELECT * FROM member WHERE memberipone = #{ipone}
    </select>

    <select id="f_getMemIdByavatar" resultMap="BaseResultMap">
SELECT * FROM member WHERE avatar = #{avater}
    </select>

    <!--查询用户的地址-->
    <select id="f_memAddressBuId" resultMap="BaseResultMap">
  SELECT * FROM member m
 /* JOIN address a ON (a.memberId = m.memberId)*/
  WHERE m.memberId = #{id}
    </select>

    <select id="getMemberList" resultMap="BaseResultMap">
    SELECT * FROM member
        <where>
            <if test="member!=null">
                <if test="member.memberName!=null and member.memberName!=''">
                    AND memberName like concat('%',#{member.memberName},'%')
                </if>
            </if>

        </where>

    </select>


    <!--停用和启用会员-->
    <update id="updateMemberState">
        UPDATE  member
        <set>
            <if test="state!=null">
                memberState = #{state},
            </if>
        </set>
        WHERE memberId = #{id}
    </update>
</mapper>